<div class="quote-page">


<nav-directive></nav-directive>


<ul class='quote-list'>
  <li ng-click='getProgramQuotes()'>Programmer</li>
  <li ng-click='getMovieQuotes(famousQuotes)'>Famous</li>
  <li ng-click='getRonQuotes(ronQuotes)'>Ron Swanson</li>
</ul>
<div class="quote-box">
<div ng-style="{'background-image': 'url(../img/back-{{quote.Num}}.png)'}" class="quote-results" ng-repeat='quote in quotes'>


<div class="text-quote">

<span class='quote-placement'>{{quote.Quote}}</span>
<br>
<span class='author-placement'> – {{quote.Author}}</span>
</div>
</div>
</div>

</div>
